<div class="container__products__slider__show" id="slider-show">

    <div class="container__products__slider__show__slides">
        <img class="container__products__slider__show__img container__products__slider__show__img--active" src="https://picsum.photos/id/23/900/200" alt="">
    </div>
    <div class="container__products__slider__show__slides">
        <img class="container__products__slider__show__img" src="https://picsum.photos/id/24/900/200" alt="">
    </div>
    <div class="container__products__slider__show__slides">
        <img class="container__products__slider__show__img" src="https://picsum.photos/id/25/900/200" alt="">
    </div>
    <div class="container__products__slider__show__slides">
    </div>
    <div class="container__products__slider__show__slides">
        <img class="container__products__slider__show__img" src="https://picsum.photos/id/26/900/200" alt="">
    </div>

    <button class="container__products__slider__show__controls container__products__slider__show__controls--previous" onclick="minusSlide()" id="prev"><</button>
    <button class="container__products__slider__show__controls container__products__slider__show__controls--next" onclick="plusSlide()" id="next">></button>

    <div class="container__products__slider__pager" id="pager"></div>
</div>
<div class="progress-container">
    <div class="progress" id="progress"></div>
    <div class="progress-bg"></div>
</div>
