<div class="container__side__makita-post">
    <div class="container__side__makita-post__img-wrap">
        <img class="container__side__makita-post__img"  src="" alt="">
    </div>
    <h5 class="container__side__makita-post__title">Lorem ipsum dolor sit amet.</h5>
    <p>consectetur adipisicing elit.
        Aperiam commodi cumque dicta, dignissimos,
        dolores eveniet ex ipsa ipsum itaque maxime modi nemo numquam optio placeat quasi quis repellendus
        reprehenderit repudiandae.</p>

    <button class="container__side__button-blue">Opširnije</button>
</div>