<div class="main__left__description__info">
    <p class="main__left__description__info__text">Šifra artikla: {{this.productSKU}}</p>
    {{#each this.productDesc}}
        <p class="main__left__description__info__text">{{this}}</p>
    {{/each}}
</div>