<div class="main__left__description__title">
        <h1 class="main__left__description__title__text">{{this.productName}}</h1>
    <div class="main__left__description__sub-title">
        <div class="main__left__description__sub-div">
            <span class="main__left__description__sub-title__price">{{this.newPrice}}$</span>
        </div>
        <div class="main__left__description__sub-div">
            <span class="main__left__description__sub-title__text">{{this.productSKU}}</span>
            <p class="main__left__description__sub-title__code">Šifra artikla</p>
        </div>
    </div>
</div>