<div class="main__left__description__social">
    <p class="main__left__description__text">Količina: </p>
    <input class="main__left__description__input" type="text" id="quantity" value="1" readonly>
    <button class="main__left__description__button" onclick="decreaseQuantity()">-</button>
    <button class="main__left__description__button" onclick="increaseQuantity()">+</button>
    <span class="main__left__description__plus">+</span>
    <p class="main__left__description__text">Share:</p>
    <a href="" class="main__left__description__link"><i class="fa-brands fa-facebook-f main__left__description__icon"></i></a>
    <a href="" class="main__left__description__link"><i class="fa-brands fa-twitter main__left__description__icon"></i></a>
    <a href="" class="main__left__description__link"><i class="fa-regular fa-envelope main__left__description__icon"></i></a>
    <a href="" class="main__left__description__link"><i class="fa-brands fa-google-plus-g main__left__description__icon"></i></a>
</div>
<div>
    <button class="main__left__button"><i class="fa-solid fa-cart-shopping main__left__button__icon"></i>Dodaj u korpu</button>
    <button class="main__left__button">Provjeri korpu</button>
</div>