
<div class="container__side__search-brand">
    <i class="fa-solid fa-envelope"></i>
    Pretraži po brendu
    <input class="container__side__search-brand__input" type="text">
    <i class="fa-solid fa-magnifying-glass container__side__search-brand__magnify"></i>

</div>
{{>ad}}
<div class="container__side__newsletter">
    <p>
        <i class="fa-solid fa-envelope"></i>
        prijavi se na newsletter
    </p>
    <input class="container__side__newsletter__input" type="text" placeholder="Ime i prezime">
    <input class="container__side__newsletter__input" type="text" placeholder="Email">
    <button class="container__side__button-blue">Prijavi se</button>
</div>

