<video class="main__right__video" width="100%" height="auto" controls>
    <source src="/public/assets/6982055-hd_1920_1080_30fps.mp4" type="video/mp4">
</video>
<video class="main__right__video" width="100%" height="auto" controls>
    <source src="/public/assets/6982055-hd_1920_1080_30fps.mp4" type="video/mp4">
</video>

<div class="container__side__newsletter  main__right__newsletter-product">
    <p>
        <i class="fa-solid fa-envelope"></i>
        Prijavi se na newsletter
    </p>
    <input class="container__side__newsletter__input" type="text" placeholder="Ime i prezime">
    <input class="container__side__newsletter__input" type="text" placeholder="Email">
    <button class="container__side__button-blue">Prijavi se</button>
</div>