<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../public/styles/main.css">
    <link rel="stylesheet" href="../public/styles/test.css">
</head>
<body>
<div id="header-container"></div>

<div class="container" id="mainContainer">
    <div class="container__side" id="container__side"></div>


    <div class="container__products"><div class="container__products__slider" id="slider"></div>


        <div id="product-content"></div>


    </div>






    </div>





<div id="footer-container"></div>

</body>

<script id="menu-template" type="text/x-handlebars-template">
    <div class="container__side__menu" id="menu">
        {{> accordion}}
    </div>
</script>

<script id="product-template" type="text/x-handlebars-template">
    {{#each products}}
        {{> productsSection}}
    {{/each}}
</script>

<script id="seeAll-template" type="text/x-handlebars-template">
    <div class="container__products__discounts">
    <div class="container__products__bar">
        {{#if skeleton}}

            <div class="skeleton-loader" >
                <div class="container__products__bar__card skeleton-card">
                    <div class="skeleton skeleton-img"></div>
                    <div class="skeleton skeleton-badge"></div>
                    <div class="skeleton skeleton-name"></div>
                    <div class="skeleton skeleton-timer"></div>
                    <div class="skeleton skeleton-price"></div>
                </div>
                <div class="container__products__bar__card skeleton-card">
                    <div class="skeleton skeleton-img"></div>
                    <div class="skeleton skeleton-badge"></div>
                    <div class="skeleton skeleton-name"></div>
                    <div class="skeleton skeleton-timer"></div>
                    <div class="skeleton skeleton-price"></div>
                </div>
                <div class="container__products__bar__card skeleton-card">
                    <div class="skeleton skeleton-img"></div>
                    <div class="skeleton skeleton-badge"></div>
                    <div class="skeleton skeleton-name"></div>
                    <div class="skeleton skeleton-timer"></div>
                    <div class="skeleton skeleton-price"></div>
                </div>
                <div class="container__products__bar__card skeleton-card">
                    <div class="skeleton skeleton-img"></div>
                    <div class="skeleton skeleton-badge"></div>
                    <div class="skeleton skeleton-name"></div>
                    <div class="skeleton skeleton-timer"></div>
                    <div class="skeleton skeleton-price"></div>
                </div>

                    <div class="container__products__bar__card skeleton-card">
                        <div class="skeleton skeleton-img"></div>
                        <div class="skeleton skeleton-badge"></div>
                        <div class="skeleton skeleton-name"></div>
                        <div class="skeleton skeleton-timer"></div>
                        <div class="skeleton skeleton-price"></div>
                    </div>
                    <div class="container__products__bar__card skeleton-card">
                        <div class="skeleton skeleton-img"></div>
                        <div class="skeleton skeleton-badge"></div>
                        <div class="skeleton skeleton-name"></div>
                        <div class="skeleton skeleton-timer"></div>
                        <div class="skeleton skeleton-price"></div>
                    </div>
                    <div class="container__products__bar__card skeleton-card">
                        <div class="skeleton skeleton-img"></div>
                        <div class="skeleton skeleton-badge"></div>
                        <div class="skeleton skeleton-name"></div>
                        <div class="skeleton skeleton-timer"></div>
                        <div class="skeleton skeleton-price"></div>
                    </div>
                    <div class="container__products__bar__card skeleton-card">
                        <div class="skeleton skeleton-img"></div>
                        <div class="skeleton skeleton-badge"></div>
                        <div class="skeleton skeleton-name"></div>
                        <div class="skeleton skeleton-timer"></div>
                        <div class="skeleton skeleton-price"></div>
                    </div>
                <div class="container__products__bar__card skeleton-card">
                    <div class="skeleton skeleton-img"></div>
                    <div class="skeleton skeleton-badge"></div>
                    <div class="skeleton skeleton-name"></div>
                    <div class="skeleton skeleton-timer"></div>
                    <div class="skeleton skeleton-price"></div>
                </div>
                <div class="container__products__bar__card skeleton-card">
                    <div class="skeleton skeleton-img"></div>
                    <div class="skeleton skeleton-badge"></div>
                    <div class="skeleton skeleton-name"></div>
                    <div class="skeleton skeleton-timer"></div>
                    <div class="skeleton skeleton-price"></div>
                </div>
                <div class="container__products__bar__card skeleton-card">
                    <div class="skeleton skeleton-img"></div>
                    <div class="skeleton skeleton-badge"></div>
                    <div class="skeleton skeleton-name"></div>
                    <div class="skeleton skeleton-timer"></div>
                    <div class="skeleton skeleton-price"></div>
                </div>
                <div class="container__products__bar__card skeleton-card">
                    <div class="skeleton skeleton-img"></div>
                    <div class="skeleton skeleton-badge"></div>
                    <div class="skeleton skeleton-name"></div>
                    <div class="skeleton skeleton-timer"></div>
                    <div class="skeleton skeleton-price"></div>
                </div>


            </div>

        {{/if}}

    {{#each products}}
        {{> card}}
    {{/each}}
    </div>
        {{#if name}}
            <div class="no-products">
                       <h2>Nema proizvoda u ovoj sekciji</h2>
                      <p>Trenutno nemamo proizvode. Pokušajte kasnije</p>
           </div>
        {{/if}}

        <button id="backButton" class="container__side__button-blue" onclick="handleBackClick()">Back</button>
    </div>
    </script>

<script src="../public/scripts/skripta.js"></script>
<script src="../public/scripts/nekeFunkcije.js"></script>
</html>

