<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../public/styles/main.css">
    <link rel="stylesheet" href="../public/styles/test.css">
</head>
<body>
<div id="header-container"></div>

<div class="container">
    <div class="container__side" id="container__side">
        <script id="menu-template" type="text/x-handlebars-template">
            <div class="container__side__menu" id="menu">
                    {{> accordion}}
            </div>
        </script>





    </div>


    <div class="container__products">
        <div class="container__products__slider" id="slider">
            </div>


        <div id="product-content"></div>

        <script id="product-template" type="text/x-handlebars-template">
            {{#each products}}
                {{> productsSection}}
            {{/each}}
        </script>

        </div>





        <div class="container__products__search-brand">
            <i class="fa-solid fa-envelope"></i>
            Pretraži po brendu
            <input class="container__products__search-brand__input" type="text">
            <i class="fa-solid fa-magnifying-glass container__products__search-brand__magnify"></i>

        </div>
        <div class="container__products__newsletter">
            <p>
                <i class="fa-solid fa-envelope"></i>
                prijavi se na newsletter
            </p>
            <input class="container__products__newsletter__input" type="text" placeholder="Ime i prezime">
            <input class="container__products__newsletter__input" type="text" placeholder="Email">
            <button class="container__side__button-blue">Prijavi se</button>
        </div>

        <div class="container__products__makita-post">
            <div class="container__products__makita-post__img-wrap">
                <img class="container__products__makita-post__img"  src="" alt="">
            </div>
            <h5 class="container__products__makita-post__title">Lorem ipsum dolor sit amet.</h5>
            <p>consectetur adipisicing elit.
                Aperiam commodi cumque dicta, dignissimos,
                dolores eveniet ex ipsa ipsum itaque maxime modi nemo numquam optio placeat quasi quis repellendus
                reprehenderit repudiandae.</p>
            <button class="container__side__button-blue">Opširnije</button>
        </div>
        <div class="container__products__makita-post">
            <div class="container__products__makita-post__img-wrap">
                <img class="container__products__makita-post__img"  src="" alt="">
            </div>
            <h5 class="container__products__makita-post__title">Lorem ipsum dolor sit amet.</h5>
            <p>consectetur adipisicing elit.
                Aperiam commodi cumque dicta, dignissimos,
                dolores eveniet ex ipsa ipsum itaque maxime modi nemo numquam optio placeat quasi quis repellendus
                reprehenderit repudiandae.</p>
            <button class="container__side__button-blue" >Opširnije</button>
        </div>
    </div>


</div>


<div id="footer-container"></div>

</body>

<script src="../public/scripts/skripta.js"></script>
</html>

