<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proizvod ID - {{this.productId}}</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../public/styles/test.css">
    <link rel="stylesheet" href="../public/styles/main.css">
</head>


<body>
<div id="header-container"></div>
<div class="overlay" id="popup">
    <div class="overlay__popup" id="popup-container">
        <div>
        <button type="button" onclick="closePopup()">X</button>
        </div>
        <br>


        <label>Ime proizvoda</label>
        <input type="text" placeholder="Name" id="product-name" >
        <label>Popust</label>
        <input type="number" min="0" placeholder="Discount" id="product-discount" >
        <label>Price</label>
        <input type="number" min="0" placeholder="Price" id="product-price" >
            <label>Šifra</label>
        <input type="text" placeholder="SKU" id="SKU" >
        <label>Podkategorija</label>
        <select id="product-subcategory" >
            <option value="" selected disabled>Izaberi podkategoriju</option>
        </select>
            <label>Opis</label>
            <textarea placeholder="Description" id="product-description" ></textarea>
            <label>Specs</label>
            <textarea placeholder="Specification" id="product-specs" ></textarea>
            <label>Slike proizvoda</label>
            <input type="file" id="product-images" multiple accept="image/*" onchange="previewImages()">

            <div id="image-preview" class="image_preview"></div>

            <button type="submit" onclick="add()">Dodaj</button>

        <p>Hello, Vladan! Cheat code activated!</p>



    </div>
</div>



    <div class="page-navigation">
        <span class="page-navigation__text">Naslovna /</span><span class="page-navigation__text">Proizvodi /</span><span class="page-navigation__text">grupa robe</span>
    </div>
    <div class="main">
        <div class="main__left">
            <div class="glavni">
                <div class="slider" id="slider">
            </div>



<div class="main__left__description" id="description">


    <div class="main__left__description__title">
        <div class="skeleton skeleton__title"></div>
        <div class="main__left__description__sub-title">
            <div class="main__left__description__sub-div">
                <div class="skeleton skeleton__price"></div>
            </div>
            <div class="main__left__description__sub-div">
                <div class="skeleton skeleton__sku"></div>
            </div>
        </div>
    </div>
    <div class="skeleton skeleton-text"></div>
    <div class="skeleton skeleton-text"></div>
    <div class="skeleton skeleton-text"></div>
    <div class="skeleton skeleton-text"></div>
    <div class="skeleton skeleton-text"></div>
    <div class="skeleton skeleton-text"></div>


                </div>

            </div>
            <div id="table"></div>

            <div class="main__left__similar">
                <span class="main__left__similar__text">Slični proizvodi</span>
                <div class="main__left__similar__line"></div>
            </div>
            <div class="container__products__discounts">
                <div class="container__products__bar" id="discounts-bar">

                </div>



            </div>
        </div>

        <div class="main__right" id="right-sidebar">


        </div>



    </div>



<div id="footer-container"></div>
</body>



<script id="description-template" type="text/x-handlebars-template">
    {{>productHeader}}
    {{>productInfo}}
                </script>


<script id="table-template" type="text/x-handlebars-template">
    {{>productTabs}}
                </script>


<script id="videos" type="text/x-handlebars-template">
    {{>videos}}
</script>
<script id="discounts-template" type="text/x-handlebars-template">

    {{#if products}}
        {{#each products}}
            {{>card}}
        {{/each}}
    {{else}}
        {{#each temp}}
            <div class="container__products__bar__card skeleton-card">
                <div class="skeleton skeleton-img"></div>
                <div class="skeleton skeleton-badge"></div>
                <div class="skeleton skeleton-name"></div>
                <div class="skeleton skeleton-timer"></div>
                <div class="skeleton skeleton-price"></div>
            </div>
        {{/each}}

    {{/if}}




</script>


<script id="slider-template" type="text/x-handlebars-template">

    {{>productSlider productImages }}

                </script>


<script src="../public/scripts/product.js" defer></script>

</html>







