<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proizvod ID - {{this.productId}}</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../public/styles/test.css">
    <link rel="stylesheet" href="../public/styles/main.css">
</head>


<body>
<div id="header-container"></div>



    <div class="page-navigation">
        <span class="page-navigation__text">Naslovna /</span><span class="page-navigation__text">Proizvodi /</span><span class="page-navigation__text">grupa robe</span>
    </div>
    <div class="main">
        <div class="main__left">
            <div class="glavni">                    <div class="slider" id="slider">
            </div>

            <script id="slider-template" type="text/x-handlebars-template">

                        {{>productSlider productImages }}

                </script>

<div class="main__left__description" id="description">


    <div class="main__left__description__title">
        <div class="skeleton skeleton__title"></div>
        <div class="main__left__description__sub-title">
            <div class="main__left__description__sub-div">
                <div class="skeleton skeleton__price"></div>
            </div>
            <div class="main__left__description__sub-div">
                <div class="skeleton skeleton__sku"></div>
            </div>
        </div>
    </div>
    <div class="skeleton skeleton-text"></div>
    <div class="skeleton skeleton-text"></div>
    <div class="skeleton skeleton-text"></div>
    <div class="skeleton skeleton-text"></div>
    <div class="skeleton skeleton-text"></div>
    <div class="skeleton skeleton-text"></div>


                </div>

                <script id="description-template" type="text/x-handlebars-template">
                    {{>productHeader}}
                    {{>productInfo}}
                </script>

            </div>

            <div class="main__left__similar">
                <span class="main__left__similar__text">Slični proizvodi</span>
                <div class="main__left__similar__line"></div>
            </div>
            <div class="container__products__discounts">
                <div class="container__products__bar">

                </div>
            </div>
        </div>

        <div class="main__right">
            <video class="main__right__video" width="100%" height="auto" controls>
                <source src="src/assets/6982055-hd_1920_1080_30fps.mp4" type="video/mp4">
            </video>
            <video class="main__right__video" width="100%" height="auto" controls>
                <source src="src/assets/6982055-hd_1920_1080_30fps.mp4" type="video/mp4">
            </video>

            <div class="container__side__newsletter  main__right__newsletter-product">
                <p>
                    <i class="fa-solid fa-envelope"></i>
                    Prijavi se na newsletter
                </p>
                <input class="container__side__newsletter__input" type="text" placeholder="Ime i prezime">
                <input class="container__side__newsletter__input" type="text" placeholder="Email">
                <button class="container__side__button-blue">Prijavi se</button>
            </div>
        </div>
    </div>



<div id="footer-container"></div>
</body>
<script src="../public/scripts/product.js" defer></script>

</html>







